.EXPORT_ALL_VARIABLES:

REGISTRY_ADDRESS=
HZN_EXCHANGE_URL=
E_HZN_ORG_ID=
E_DOCKER_IMAGE_BASE=${REGISTRY_ADDRESS}/thinkmoscow2020
E_SERVICE_NAME=hellothink
E_SERVICE_VERSION=1.0.0

HORIZON_USER=
HORIZON_TOKEN=
HORIZON_USER_AUTH=${HORIZON_USER}:${HORIZON_TOKEN}
REGISTRY_USER=
REGISTRY_TOKEN=
HORIZON_NODE=
HORIZON_NODE_TOKEN=
HORIZON_NODE_AUTH=${HORIZON_NODE}:${HORIZON_NODE_TOKEN}
